// Bismillah
:root {
  --bg-body: #f3f3f3;
  --bg-header: #fff;
  --text-color: #000;
}
body.dark {
  --bg-body: #202c36;
  --bg-header: #1b242c;
  --text-color: #fff !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: var(--bg-body);
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
UL {
  list-style: none;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  color: var(--text-color) !important;
}
nav {
  z-index: 1000000;
  background: var(--bg-header) !important;
}

.select-theme {
  width: 130px;
  font-size: 15px;
}

.card {
  background: var(--bg-header) !important;
  margin-bottom: 60px !important;
  width: 95%;
  &-border {
    width: 100%;
    img {
      width: 100%;
      height: 160px;
    }
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 60px;
}

.searchInput {
  position: relative;
  width: 480px;
}

.search-icon {
  position: absolute;
  top: 20%;
  left: 3%;
  color: #848484;
}

.select-region {
  width: 200px;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px !important;
  }

  .filter {
    flex-direction: column;
    gap: 50px;
  }

  .searchInput {
    width: 300px;
  }
}

.about-data {
  position: fixed;
  display: none;
  z-index: 100000;
  background-color: var(--bg-body);
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100vh;
}
.about-card {
  padding-top: 120px;
  align-items: center;
  justify-content: center;
}
.back-btn {
  width: 100px;
}
.img-box {
  img {
    width: 100%;
  }
}
